.App {
  text-align: center;
}

#flex {
  display: flex;
}

#paw-pic {
  height: 5vh;
  width: 5vw;
}

.flex-container {
  width: 50vw;
}

#breed-card:hover {
  font-weight: bold;
  cursor: pointer;
}

#search-field {
  padding: 2vh 2vh;
  outline: none;
  margin-bottom: 2vh;
}

#search-field:focus {
  background-color: #f0f1f2;
  border: 2px solid #e1e2e3;
  border-radius: 5px;
}

#all-breeds-button {
  background-color: white;
  outline: none;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #f0f1f2;
  border-radius: 5px;
}

#all-breeds-button:hover {
  background-color: #f0f1f2;
  border: 2px solid #f0f1f2;
  border-radius: 5px;
  cursor: pointer;
}

#puppy-img {
  height: 40vh;
  width: 40vw;
  object-fit: scale-down;
}
